<style>
    input-field .suffix~input,
    .input-field .suffix~textarea,
    .input-field .suffix~.select-wrapper {
        margin-right: 3rem;
        width: 92%;
        width: calc(100% - 3rem);
    }

    .input-field .suffix {
        right: 0;
    }
</style>
<!-- left menu -->
<div class="col s12 m5 l3 center-align" ng-include src="'user-pages/views/left-menu.html'"></div>
<div class="content col s12 m7 l9 center-align">
    <h3>แก้ไขข้อมูลส่วนตัว</h3>
    <form class="col s12 m12" ng-submit="editMember(edit)">
        <div class="row">
            <div class="row left-align">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" type="text" ng-model="edit.name" class="validate" required="required" oninvalid="this.setCustomValidity('กรุณากรอกชื่อ')"
                        oninput="setCustomValidity('')">
                    <label for="first_name">ชื่อ</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="last_name" type="text" ng-model="edit.surname" class="validate" required="required" oninvalid="this.setCustomValidity('กรุณากรอกนามสกุล')"
                        oninput="setCustomValidity('')">
                    <label for="last_name">นามสกุล</label>
                </div>
            </div>
            <div class="row left-align">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate" ng-model="edit.email" required="required" oninvalid="this.setCustomValidity('กรุณาตรวจสอบอีเมลอีกครั้ง')"
                        oninput="setCustomValidity('')">
                    <label for="email">อีเมล</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" name="password" type="password" class="validate" ng-model="edit.password">
                    <label for="password">รหัสผ่าน</label>
                </div>
                <input type="hidden" name="progarm" id="program">
            </div>
            <div class="row left-align">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_balance</i>
                    <select name="education_plan" id="education_plan" ng-model="edit.education_plan" material-select>
                        <option value="" disabled selected>เลือกแผนการศึกษา</option>
                        <option ng-repeat="value in select_education">{{value}}</option>
                    </select>
                </div>
                <br>
                <div class="col s12 m6">
                        <i class="material-icons">wc</i> &nbsp;
                        <input class="with-gap" name="edit_gender" type="radio" id="male" value="ชาย" ng-model="edit.gender">
                        <label for="male">ชาย</label>
                        <input class="with-gap" name="edit_gender" type="radio" id="female" value="หญิง" ng-model="edit.gender">
                        <label for="female">หญิง</label>
                </div>
                <input type="hidden" name="level" id="level" ng-model="edit.level">
            </div>
        </div>
        <button type="reset" class="waves-effect red btn">ล้างข้อมูล</button>
        <button type="submit" class="waves-effect btn">อัพเดท</button>
</div>