<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">account_balance</i> การศึกษา
        </div>
        <div class="collapsible-body left-align">
            <a href="#faculty">- จัดการข้อมูลคณะ</a>
            <br>
            <a href="#program">- จัดการข้อมูลหลักสูตร</a>
            <br>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">account_box</i> ข้อมูลสมาชิก
        </div>
        <div class="collapsible-body left-align">
            <a href="#member">จัดการข้อมูลสมาชิก</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">dvr</i> ข้อมูลการแปลผล
        </div>
        <div class="collapsible-body left-align">
            <a href="#resultInterest">- จัดการข้อมูลความสนใจทางอาชีพ</a>
            <br>
            <a href="#resultOrientation">- จัดการข้อมูลความถนัดทางอาชีพ</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">library_books</i> รายงาน
        </div>
        <div class="collapsible-body left-align">
            <a href="#reportPersonality">- รายงานการแปลผลแบบทดสอบ</a>
            <br>
            <a href="#reportEducation">- รายงานนักเรียนจำแนกตามแผนการเรียน</a>
        </div>
    </li>
</ul>